# Data Acquisition
cdsapi

# Data Processing
xarray
netcdf4
pandas
numpy
geopandas
pyyaml

# Visualization
plotly
folium
matplotlib

# Hydrological Modeling
hydromt
hydromt_wflow

# Notebook
nbformat>=4.2.0
